.post {
  padding: 30px;
  background-color: #BAD8FF;
  margin: 0 auto;
  max-width: 900px;
  margin-bottom: 5px;
  border-radius: 2px;
  word-wrap: break-word;
}

.postEditor {
  float: left;
  display: block;
  background-color: #BAD8FF;
  color: #000;

  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px; 
  width : 21%
}

.postContent {
  width: 70%;
  height : 100px;
}

.postTitle {
  width: 70%;
}

html {
  background-color : #AAC8FA;
}